*.iml
.gradle
/local.properties
.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
app/*/release
app/release.jks
.gradle-home
MGC
/AGC/AGC8.8.224_V12.0/assets
/AGC/AGC8.8.224_V12.0/build
/AGC/AGC8.8.224_V12.0/dist
/AGC/AGC8.8.224_V12.0/lib
/AGC/AGC8.8.224_V12.0/classes*.dex
/AGC/out
/AGC/AGC8.8.224_V12.0_java_source/
/AGC/AGC8.8.224_V12.0.apk